<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Invite Employee
		</div>
	</div>
</div>
<div class="white-bg horizontal-max">
	<div class="row show-header align-middle">
		<div class="columns text-center">
      <h4><%= @company.name %></h4>
      <h2>Invite Employee</h2>
    </div>
  </div>
</div>
<div class="space3"></div>
<div class="row">
  <div class="columns medium-offset-3 medium-6">
    <%= form_for @invite, url: company_invites_path, method: :post do |f| %>
			<%= show_error_message(@invite) %>
      <%= f.hidden_field :company_id, :value => @invite.company_id %>
			<%= f.hidden_field :sender_id, value: @current_user.id %>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, autofocus: true %>
			<%= f.label :last_name %>
			<%= f.text_field :last_name, autofocus: true %>
			<%= f.label :start_date %>
			<%= f.text_field :start_date, autofocus: true, class: 'datepickerstart' %>
			<%# f.label :salary %>
			<%# f.text_field :salary %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.submit 'Send', class: "button primary" %>
    <% end %>
  </div>
</div>
