<div class="row">
  <div class="columns medium-1"></div>
  <div class="columns">
    <%= image_tag resource.photo.url(:thumbnail) %>
    <p>Active: <%= resource.active %></p>
    <p>Name: <%= resource.name %></p>
    <p>Designation: <%= resource.designation %></p>
    <p>Quote: <%= resource.quote%></p>
    <p>Photo: <%= resource.photo_file_name %> </p>
    <p>Description:</p>
    <p><%= resource.description %></p>
    <p>Photo Size: <%= better_file_size(resource.photo_file_size) %> kb</p>
    <p>Video: <%= resource.video_file_name %> </p>
  </div>
</div>
