<div class="row ">
  <div class="columns small-12 medium-offset-3 medium-6">


		<%= form_for holiday, url: url, method: method  do |f| %>

			<%= show_error_message(holiday) %>

			<div class="m-well align-middle">
				<div class="field">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				<div class="space"></div>

				<div class="field">
					<%= f.label :date, "Date" %>
					<%= f.text_field :date, class: "datepickerstart", value: nil, "data-value": better_date2(Time.zone.today) %>
				</div>
				<div class="space"></div>

				<%= f.submit "Submit", class: "button primary" %>
			</div>
		<% end %>

	</div>
</div>

<div class="space5"></div>
