<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Holidays
		</div>
	</div>
</div>
<div class="show-header">

  <div class="row align-middle show-header">

    <div class="columns">

      <h4><%= @company.name %></h4>
      <h1>Holidays</h1>

    </div>

    <div class="columns small-3 medium-2 ">
      <%= link_to "Create Holiday", new_company_holiday_url(@company), class: "button primary add-button-border" if hr? %>
    </div>
  </div>
</div>


<div class="row small-up-1 medium-up-3">
	<% @holidays.reverse_order.each do |holiday|  %>
		<%= render 'holiday',
			url: company_holiday_url(
				@company,
				holiday),
			holiday: holiday,
			company: @company
		%>
	<% end %>
</div>
