<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; <%= link_to 'Holidays', company_holidays_url, class: 'small-nav-link'%> &nbsp; > &nbsp; Create Holiday
		</div>
	</div>
</div>

<div class="form-header">
  <div class="row text-center align-middle form-header">

    <div class="columns">

      <h5><%= @company.name %></h5>
      <h1>Add Holidays</h1>

    </div>
  </div>

  <div class="row">
    <div class="columns ">
      <%= render 'holidays_form',
        url: company_holidays_url(@company),
        method: :post,
        holiday: @holiday
      %>
    </div>
  </div>
</div>
