<% unless :join_request == true %>
	<% if employment.acceptance.present? %>
		<% @current_employment =  @current_employments.find_by(company_id: employment.company_id) %>
		<tr class="table-data">
			<td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id) %></td>
      <td><%= better_date(employment.start_date) %></td>
			<td><%= better_date(employment.end_date) %></td>
  		<%# content_tag(:td, number_with_delimiter(employment.salary)) if hr? && employed_here? %>
			<td><%= Role.find(employment.role_id).name %></td>
			<td class="edit-column">
				<% if @current_employment.present? &&
					@current_employment.is_hr? %>
					<%= link_to edit_user_employment_url(employment.user, employment), class: "button small secondary" do %>
						<%= fa_icon "edit" %>
					<% end %>
				<% end %>

			</td>
		</tr>
	<% end %>
<% end %>
