<div class="row">
  <div class="small-12 medium-offset-3 medium-6">
    <div class="m-well align-middle">
			
			<%= form_for @employment, url: url, method: method  do |f| %>
				<div class="field">
					<%= f.label :employment_start_date, "Start Date" %>
					<%= f.text_field :employment_start_date, class: "datepickerstart" %>
				</div>

				<div class="field">
				<%= f.label :company_id, "Company" %>
				<%= f.collection_select(:company_id, Company.all, :id, :name, {prompt: true}, {class: "select-select horizontal-max"}) %>
					<div class="small-font-size">
						If you can't find your company. You can can create one.
					</div>
				</div>

				<div class="space2"></div>
				
				<% if (@employment = nil) && (@employment.role_id = @hr_officer.id) %>
					<%= form_for @employment, url: url, method: method do |t| %>
						<%= t.hidden_field :role_id, value: "1" %>

						<%= t.submit 'Make HR Officer', class: "button warning" %>

					<% end %>
				<% end %>

				<% if (@employment = nil) && (current_user.id = @employee.user.id) %>
					<%= f.hidden_field :role_id, value: "2" %>
				<% end %>

				<%= f.submit 'Update', class: "button primary" %>
			<% end %>

		</div>
	</div>
</div>