<tr>
	<td><%= link_to employment.company.name, company_url(employment.company_id) %></td>
	<td><%= employment.start_date %></td>
		<td><%= employment.end_date %></td>

	<td>
		<% if @current_employment.present? %>
			<% if ((@current_employment.role_id == @hr_officer.id) && (@current_company.id.to_i == @company.id.to_i)) || (@user.id.to_i == @current_user.id.to_i) %>
				<%= number_with_delimiter(employment.salary) %>
			<% end %>
		<% end %>
	</td>
	<td>
			<%= Role.find(employment.role_id).name %>
	</td>

	<td class="text-center">

		<%= link_to 'Edit', edit_user_employment_url(employment.user_id, employment), class: 'button' %>
	</td>
</tr>