<tr>
	<td><%= link_to employment.company.name, company_url(employment.company_id) %></td>
	<td><%= employment.start_date %></td>
		<td><%= employment.end_date %></td>
	<td><%= employment.salary %></td>
	<td><%= Role.find(employment.role_id).name %></td>

	<td class="text-center">

		<%= link_to 'Edit', edit_user_employment_url(current_user, employment), class: 'button' %>
	</td>
</tr>