<div class="row">
  <div class="small-12 medium-offset-3 medium-6">

			<%= form_for @employment, url: url, method: method  do |f| %>

			<%= show_error_message(@employment) %>

		  	<div class="m-well align-middle">
          <% if method == :post %>
  					<div class="field">
  					<%= f.label :company_id, "Company" %>
  					<%= f.collection_select(:company_id, @available_companies, :id, :name, {prompt: true}, {class: "select-select horizontal-max"}) %>
  						<div class="small-font-size">
  							If you can't find your company. You can create one.
  						</div>
  					</div>
  					<div class="space"></div>
          <% end %>

  					<div class="field">
  						<%= f.label :start_date, "Start Date" %>
  						<%= f.text_field :start_date, class: "datepickerstart" %>
  					</div>

					<% unless @employment.id.nil? %>
						<% if (@current_employment.role_id == @hr_officer.id) && (@current_company_id == @employment.company_id)%>
							<div class="field">
								<%= f.label :end_date, "End Date" %>
								<%= f.text_field :end_date, class: "datepickerstart" %>
                <p class="small-font-size">* Enter if the user has left the company</p>
							</div>
						<% end %>
					<% end %>

					<div class="field">
						<%# f.label :salary %>
						<%# f.text_field :salary %>
					</div>
					<div class="space"></div>
					<% unless @employment.id.nil? %>
            <div class="row medium-up-3">
            	<% if (method == :patch) && (@current_employment.is_hr?) && (current_user != @user) && (!@employment.is_hr?) %>
                <div class="columns">
                  <%= form_for @employment, url: url, method: method do |t| %>
    								<%= t.hidden_field :role_id, value: @hr_officer.id %>
    								<%= t.submit 'Make HR Officer', class: "button warning margin-none add-button-border" %>
    							<% end %>
                </div>
  						<% end %>
              <% if method == :patch && @current_employment.is_hr? && @employment.regularized == false %>
                <div class="columns">
                  <%= form_for @employment, url: url, method: method do |t| %>
                    <%= t.hidden_field :regularized, value: true %>
                    <%= t.submit 'Regularize Employee', class: "button success margin-none" %>
                  <% end %>
                </div>
              <% end %>
              <% if method == :patch && (@current_employment.is_hr?) && (@employment.is_employee? || @employment.is_hr?) %>
                <div class="columns">
                  <%= form_for @employment, url: url, method: method do |t| %>
                    <%= t.hidden_field :role_id, value: @manager.id %>
                    <%= t.submit 'Make Manager', class: "button warning margin-none add-button-border" %>
                  <% end %>
                </div>
              <% end %>
              <% if method == :patch && @current_employment.is_manager? && @employment.manager_id != @current_employment.id %>
                <div class="columns">
                  <%= form_for @employment, url: url, method: method do |t| %>
                    <%= t.hidden_field :manager_id, value: @current_employment.id %>
                    <%= t.submit 'Make Subordinate', class: "button warning margin-none add-button-border" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="space"></div>
            <div class="small-font-size">* Pressing these will not save the other inputs</div>
            <div class="space2"></div>
					<% else%>
						<%= f.hidden_field :role_id, value: @employee.id %>
					<% end %>
            <%# render 'leave_reduction_form', f: f %>
					<%= f.submit 'Update', class: "button primary" %>
				</div>
		<% end %>
	</div>
</div>
