<tr>
	<td><%= link_to employment.company.name, company_url(employment.company_id) %></td>
	<td><%= employment.start_date %></td>
		<td><%= employment.end_date %></td>
	<td><%= number_with_delimiter(employment.salary) %></td>
	<td>
	<% if @current_employment.present? %>
		<% if (@current_employment.role_id == @hr_officer.id) && (@user.to_i == @current_user.id.to_i) %>
			<%= Role.find(employment.role_id).name %>
		<% end %>
	<% end %>
	</td>

	<td class="text-center">

		<%= link_to 'Edit', edit_user_employment_url(employment.user_id, employment), class: 'button' %>
	</td>
</tr>