<% if(@current_employment.is_hr?) && (@employment.is_employee? || @employment.is_hr?) %>
  <div class="columns">
    <%= form_for @employment, url: url, method: method do |t| %>
      <%= t.hidden_field :role_id, value: @manager.id %>
      <%= t.submit 'Make Manager', class: "button warning margin-none add-button-border" %>
    <% end %>
  </div>
<% end %>
<% if (@current_employment.is_hr?) && (@employment.is_manager?) %>
  <div class="columns">
    <%= form_for @employment, url: url, method: method do |t| %>
      <%= t.hidden_field :role_id, value: @employee.id %>
      <%= t.submit 'Make Employee', class: "button warning margin-none add-button-border" %>
    <% end %>
  </div>
<% end %>
