<div data-sticky-container>
  <div class="menu-vertical sticky padding" data-sticky data-margin-top="0" >
    <h1 class="text-center">Tseklis</h1>
    <ul class="vertical menu accordion-menu" data-accordion-menu>
      <li>
      </li>
      <li>
        <a>Features</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_feature_url %></li>
          <li><%= link_to "Index",  dashboard_features_url %></li>
        </ul>
      </li>
      <li>
        <a>Testimonials</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_testimonial_url %></li>
          <li><%= link_to "Index",  dashboard_testimonials_url %></li>
        </ul>
      </li>
      <li>
        <a>Endorsements</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_endorsement_url %></li>
          <li><%= link_to "Index",  dashboard_endorsements_url %></li>
        </ul>
      </li>
      <li>
        <a>Plans</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_plan_url %></li>
          <li><%= link_to "Index",  dashboard_plans_url %></li>
        </ul>
      </li>
      <li>
        <a>Roles</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_role_url %></li>
          <li><%= link_to "Index",  dashboard_roles_url %></li>
        </ul>
      </li>
      <li>
        <a>Company Owners</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Create", new_dashboard_owner_url %></li>
          <li><%= link_to "Index",  dashboard_owners_url %></li>
        </ul>
      </li>
      <li>
        <a>Contact Messages</a>
        <ul class="menu vertical nested">
          <li><%= link_to "Index",  dashboard_contact_messages_url %></li>
        </ul>
      </li>
      <li>
        <a>Site Settings</a>
        <ul class="menu vertical nested">
            <%= link_to "Create", new_dashboard_site_setting_url if SiteSetting.last.nil? %>
          </li>
          <li>
            <%= link_to "Update", edit_dashboard_site_setting_url(SiteSetting.last) if SiteSetting.last.present? %>
          </li>
        </ul>
      </li>
      <li>
        <a>Landing Page Settings</a>
        <ul class="menu vertical nested">
          <li>
            <%= link_to "Create", new_dashboard_landing_page_setting_url if LandingPageSetting.last.nil? %>
          </li>
          <li>
            <%= link_to "Update", edit_dashboard_landing_page_setting_url(LandingPageSetting.last) if SiteSetting.last.present? %>
          </li>
        </ul>
      </li>
      <li>
        <a>User Home Page Settings</a>
        <ul class="menu vertical nested">
          <li>
            <%= link_to "Create", new_dashboard_user_home_page_setting_url if UserHomePageSetting.last.nil? %>
          </li>
          <li>
            <%= link_to "Update", edit_dashboard_user_home_page_setting_url(UserHomePageSetting.last) if UserHomePageSetting.last.present? %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
