<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "tseklis" %></title>

    <%= stylesheet_link_tag    "dashboard/application" %>
    <%= javascript_include_tag "dashboard/application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row no-sidepadding horizontal-max collapse">
      <div class="columns medium-3">
        <%= render 'dashboard/partials/navbar' %>
      </div>
      <div class="columns medium-9">
        <div class="row">
          <div class="columns">
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "callout  #{key}" %>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
  </div>

  </body>
</html>
