<%= simple_form_for [:dashboard, resource], html: { multipart: true } do |f| %>
    <%= f.input :site_name %>
    <%= f.input :site_description %>
    <%= f.input :site_icon %>
    <%= resource.site_icon_file_name if resource.site_icon_file_name.present? %>
    <%= image_tag resource.site_icon.url(:medium) if resource.site_icon_file_name.present?%>
    <%= f.input :site_logo %>
    <%= resource.site_logo_file_name if resource.site_logo_file_name.present? %>
    <%= image_tag resource.site_logo.url(:medium) if resource.site_logo_file_name.present? %>
  <div class="space"></div>
  <%= f.button :submit, class: "button primary" %>
<% end %>
