<%= form_for [:dashboard, resource], method: :post, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :site_name %>
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :site_icon %>
    <%= f.file_field :site_icon %>
  </div>
  <div class="field">
    <%= f.label :site_logo %>
    <%= f.file_field :site_logo %>
  </div>
  <div class="space"></div>
  <%= f.submit 'Submit', class: "button primary" %>
<% end %>
