<% if user_signed_in? %>
  <div class="top-bar" data-topbar>
<% elsif current_page?(root_path) %>
  <div class="top-bar sticky" data-topbar data-sticky data-margin-top='0' data-top-anchor="landing:bottom">
<% else %>
  <div class="top-bar" data-topbar>
<% end %>
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <%= link_to "Tseklis", root_path  %></li>
        </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu">
        <% if current_user %>
          <% unless current_user.employments.empty? %>
            <div data-toggle="companies-dropdown">
              <li>
                <a>Companies</a> 
              </li>
            </div>  
          <% end %>
          <% unless current_user.profile.nil? || current_user.profile.first_name.nil? || current_user.profile.last_name.nil? %>
            <li>
              <div data-toggle="user-dropdown">
                <%= link_to user_path(current_user) do %>
                  <%= fa_icon "user-o"%>
                  <%= current_user.profile.first_name %>
                  <%= current_user.profile.last_name %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: 'button success white-text' %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path, class: 'button primary' %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>

<section class="dropdown-pane no-padding" id="companies-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
  <div class=" row horizontal-max no-padding collapse">
    <% if @current_user.employed? %>
      <% @current_user.employments.reverse_order.each do |u| %>
        <%= link_to u.company.name, company_url(u.company),
          class: ""
        %>
      <% end %>
    <% end %>
  </div>
</section>

<section class="dropdown-pane no-padding" id="user-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
  <div class=" row horizontal-max no-padding collapse">
    <%= link_to "Sign Out", destroy_user_session_path, class: 'button white horizontal-max no-margin text-left' %> 
  </div>
</section>