<!-- <div class="top-bar sticky" data-topbar data-sticky data-margin-top='0' data-top-anchor="landing:bottom"> -->
<div class="z-top" data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="0">

    <div class="top-bar" data-topbar>
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="">
            <div class="row align-middle">
              <div class="columns shrink">
                <%= link_to root_path do %>
                  <div class="row collapse align-middle">
                    <!-- <div class="columns">
                      <div class="logo-round">
                        <%# fa_icon "check 2x white-text" %>
                      </div>
                    </div> -->
                    <div class="columns logo-text">
                      <% if SiteSetting.last.present? && SiteSetting.last.site_icon.present? %>
                        <div class="logo">
                          <%= image_tag SiteSetting.last.site_icon.url(:medium) %>
                        </div>
                      <% else %>
                        Tseklis
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="columns"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu">
          <% if current_user %>
            <% unless current_user.employments.empty? %>
              <div data-toggle="companies-dropdown">
                <li>
                  <%# link_to "Companies", companies_url %>
                  <a>Companies</a>
                </li>
              </div>
            <% end %>
            <% unless current_user.profile.nil? || current_user.profile.first_name.nil? || current_user.profile.last_name.nil? %>
              <li>
                <div data-toggle="user-dropdown">
                  <%= link_to user_path(current_user) do %>
                    <%= fa_icon "user-circle"%>
                    <%= current_user.profile.first_name %>
                    <%= current_user.profile.last_name %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% else %>
            <li>
              <%= link_to "Sign Up", new_user_registration_path, class: 'button success white-text' %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <section class="dropdown-pane no-padding" id="companies-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
      <div class=" row horizontal-max no-padding collapse">
        <% if user_signed_in? %>
          <% if @current_user.employed? %>
            <% @current_user.employments.select(:company_id).distinct.each do |u| %>
              <%= link_to u.company.name, company_url(u.company),
                class: "button white-c horizontal-max no-margin text-left"
              %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>

    <section class="dropdown-pane no-padding" id="user-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
      <div class=" row horizontal-max no-padding collapse">
        <% if user_signed_in? %>
          <%= link_to "Create Company", new_company_url, class: "button white-c horizontal-max no-margin text-left" %>
          <%# link_to "Connect to a Company / Change Salary", new_user_employment_url(@current_user), class: "button white-c horizontal-max no-margin text-left" %>
          <%= link_to "Connect to a Company", new_user_employment_url(@current_user), class: "button white-c horizontal-max no-margin text-left" %>
        <% end %>
        <%= link_to "Sign Out", destroy_user_session_path, class: 'button warning horizontal-max no-margin text-left' %>
      </div>
    </section>

  </div>
</div>
