<li>
  <div class="dropdown">
    <a>
      <div class="no-margin" data-toggle="notifications-dropdown">
        <%= current_user.notifications.where(read: false).count %>
        <%= fa_icon 'envelope-o' %>
      </div>
    </a>
  </div>
</li>

<section class="dropdown-pane no-padding notification-dropdown" id="notifications-dropdown" data-dropdown data-position="bottom" data-alignment="right">
  <div class="horizontal-max no-padding ">
    <div class="row collapse expanded">
      <div class="column">
        <%= link_to 'Notifications', notifications_notification_index_url, class: "button primary no-button-border no-margin text-center black-text" %>
      </div>
      <div class="column">
        <%= link_to 'Read All', notifications_read_all_url, class: "button warning no-button-border no-margin text-center black-text" %>
      </div>
    </div>

    <div class="notification-scroll">
      <% if current_user.notifications.where(read: false).reverse_order.blank? %>
        <div class="space"></div>
        <p class='text-center'>No new notifications</p>
      <% else %>
        <%= render partial: 'partials/notification', collection: current_user.notifications.where(read: false).reverse_order, as: 'notification' %>
      <% end %>
    </div>
  </div>
</section>
