<div class="show-for-small-only" id='responsive-menu2' data-topbar>
    <ul class="vertical menu drilldown white-text" data-drilldown>
      <li class="">
        <%= link_to root_path do %>
          Home
        <% end %>
      </li>
      <% if user_signed_in? %>
        <%= link_to notifications_notification_index_url do %>
          <%= current_user.notifications.where(read: false).count %>
          <%= fa_icon 'envelope-o' %>
        <% end %>
        <% unless current_user.employments.empty? %>
            <li>
              <%= link_to Company.find(current_user.employments.where(acceptance: true).first.company_id).name, company_url(current_user.employments.where(acceptance: true).first.company_id) %>
              <!-- <a>Companies</a> -->
            </li>
        <% end %>
        <% unless current_user.profile.nil? || current_user.profile.first_name.nil? || current_user.profile.last_name.nil? %>
          <li>
            <a>
              <%= fa_icon "user-circle"%>
              <%= current_user.profile.first_name %>
              <%= current_user.profile.last_name %>
            </a>
            <ul class="menu vertical nested">
              <li><%= link_to "Your Profile", user_url(current_user) %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, class: 'button primary' %></li>

            </ul>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: 'button success white-text' %>
        </li>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
