<% if current_user.leave_amounts.find_by(date: Date.today.all_month).present? %>
	<div class="show-leave">
		<div class="row vertical-padding">
			<div class="columns">
				<h2><%= Date.today.strftime("%B %Y")%> <small>User leaves</small></h2>
			</div>
		</div>
		<% @user.companies.distinct.each do |company| %>
			<div class="row vertical-padding2">
				<div class="columns">
					<h4><%= company.name %></h4>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12 medium-12">
					<div class="row align-middle">
						<div class="columns medium-3 text-center">
							<h1 class="h-1"><%= current_user.total_leaves(Date.today.all_month, company)  %></h1>
							<h5>Total</h5>
						</div>
						<div class="columns">
							<div class="row">
								<% current_user.segmented_leaves(Date.today.all_month, company).each do |p| %>
									<% p.each do |k,v| %>
										<div class="columns text-center">
											<h1><%= v %></h1>
											<p><%= k %></p>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space2"></div>
		<% end %>
	</div>
<% end %>
