<tr>
	<td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id) %></td>
	<td><%= employment.employment_start_date %></td>
	<td><%= employment.employment_end_date %></td>
	<td>
		<% if @current_employment.present? %>
			<% if @current_employment.role_id == @hr_officer.id %>
				<%= employment.salary %>
			<% else %>
				-
			<% end %>
		<% else %>
			-
		<% end %>			
	</td>
	<td><%= Role.find(employment.role_id).name %></td>
	<td class="text-center">
		<% if @current_employments.find_by(company_id: params[:id]).present? %>
			<% unless @current_employment.role_id == @hr_officer.id  %>
				<%= link_to 'Edit', edit_user_employment_url(current_user, employment), class: "button primary" %>
			<% end %>
		<% end %>
	</td>
</tr>