<% unless join_request == true %>
	<% if employment.acceptance.present? %> 
		<tr>
			<td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id) %></td>
			<td><%= employment.start_date %></td>
			<td><%= employment.end_date %></td>
			<td>
				<% if @current_employment.present? %>
					<% if (@current_employment.role_id == @hr_officer.id) && (employment.company_id.to_i == @current_employment.company_id.to_i) %>
						<%= number_with_delimiter(employment.salary) %>
					<% else %>
						-
					<% end %>
				<% else %>
					-
				<% end %>			
			</td>
			<td><%= Role.find(employment.role_id).name %></td>
			<td class="edit-column">
				<% if (@current_employments.find_by(company_id: params[:id]).present?) && 
					(@current_employment.role_id == @hr_officer.id) && @current_employment.acceptance.nil?  %>
					<%= link_to edit_user_employment_url(user, employment), class: "button small secondary" do %>
						<%= fa_icon "edit" %>
					<% end %>
				<% end %>

			</td>
		</tr>
	<% end %>
<% else %>
	<% if employment.acceptance.nil? %>
		<tr>
			<td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id) %></td>
			<td><%= employment.start_date %></td>
			<td>
				<% if @current_employment.present? %>
					<% if (@current_employment.role_id == @hr_officer.id) && (employment.company_id.to_i == @current_employment.company_id.to_i) %>
						<%= number_with_delimiter(employment.salary) %>
					<% else %>
						-
					<% end %>
				<% else %>
					-
				<% end %>			
			</td>
			<td><%= Role.find(employment.role_id).name %></td>
			<% if (@current_employments.find_by(company_id: params[:id]).present?) && 
				(@current_employment.role_id == @hr_officer.id) && (employment.acceptance.nil?) %>
				<td>
					<%= form_for employment, url: url, method: method do |f| %>
						<%= f.hidden_field :acceptance, value: true %>
						<%= f.hidden_field :acceptor_id, value: @current_user.id %>
						<%= f.submit "Accept", class: "button small expanded success"%>
					<% end %>
				</td>
				<td>
					<%= form_for employment, url: url, method: method do |f| %>
						<%= f.hidden_field :acceptance, value: false %>
						<%= f.hidden_field :acceptor_id, value: @current_user.id %>
						<%= f.submit "Reject", class: "button small expanded alert" %>
					<% end %>
				</td>
			<% else %>
				<td colspan="1"></td>
				<td colspan="1"></td>
			<% end %>
		</tr>
	<% end %>
<% end %>