<div class="space2"></div>

<div class="row">
	<div class="small-12 medium-5 columns">
		<h1 class=""> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1><br/>
		<%= @user.email %><br/>
	</div>
	<div class="small-12 medium-offset-3 medium-2 columns">
		<div class="space"></div>
		<%= link_to "Edit Profile", edit_user_registration_path, class: "button primary" %>
	</div>
</div>

<div class="space4"></div>

<% if current_user.employed? %>
	<%= render 'employments_table' %>
<% end %>

<div class="space2"></div>

<% if @leave_requests.nil? %>
<% else %>
	<%= render 'leave_requests_table' %>
<% end %>