<tr>
  <td>
    <%= cost.profile.first_name %> <%= cost.profile.last_name %>
  </td>
  <td class="text-center">
    <%= bignum(cost.salary)%>
  </td>
  <td class="text-center">
    <%= bignum(cost.overhead) %>
  </td>
  <td class="text-center">
    <%= bignum(cost.overhead + cost.salary) %>
  </td>
  <td class="text-center">
    <%= better_date(cost.start_date) %>
  </td>
  <td class="text-center">
    <%= better_date(cost.end_date) %>
  </td>
</tr>
