<div class="columns">
  <%= cost.profile.first_name %> <%= cost.profile.last_name %>
  <div class="row">
    <div class="columns shrink">
      Fully loaded Salary: <%= cost.salary %>
    </div>
    <div class="columns shrink">
      Overhead: <%= cost.overhead %>
    </div>
    <div class='columns shrink'>
      From: <%= better_date(cost.start_date) %>
    </div>
    <div class='columns shrink'>
      To: <%= better_date(cost.end_date) %>
    </div>
  </div>
</div>
