<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Company Costs
		</div>
	</div>
</div>
<div class="show-header">
  <div class="row align-middle show-header">
    <div class="columns small-12 medium-10">
      <h4><%= @company.name %></h4>
      <h2>Company Costs</h2>
    </div>
    <div class="columns small-6 medium-2">
      <%= link_to "Add Costs", new_company_cost_url(@company), class: "button primary add-button-border" if hr? %>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="row">
  <div class="columns">
    <h3>Last Month</h3>
  </div>
</div>
<div class="row">
  <div class="columns">
    <table class="costs_table">
      <thead>
        <tr>
          <th>Employee</th>
          <th class='text-center'>Fully Loaded Salary</th>
          <th class="text-center">Overhead</th>
          <th class="text-center">Total</th>
          <th class="text-center">Start Date</th>
          <th class="text-center">End Date</th>
        </tr>
      </thead>
      <tbody id="reports">
        <%= render partial: "cost", collection: @costs, as: 'cost' %>
      </tbody>
    </table>
  </div>
</div>
