<tr>
  <td>
    <%= employee.employment.user.profile.first_name %> <%= employee.employment.user.profile.last_name %>
  </td>
  <td>
    <%= employee.project.name %>
  </td>
  <td>
    <%= employee.project.name %>
  </td>
  <td class='text-center'>
    <%= time_for_project = employee.project_times.sum(:duration) %>
  </td>
  <td class='text-center'>
    <%= (time_for_project / employee.employment.project_times.sum(:duration) * 100).round(2) %> %
  </td>

</tr>
