<div class="m-well3">


    <div class="row align-middle">
      <div class="columns medium-5">
        <%= o.project.department.name %>
        <h5 class='no-margin'><%= o.project.name %></h5>
      </div>
      <div class="columns small-11 medium-3">
          <%= hidden_field_tag "project_times[][onboarding_id]", o.id %>
          <%= hidden_field_tag "project_times[][project_id]", o.project.id %>
          <div class="row align-middle">
            <div class="columns shrink">
              Hours
            </div>
            <div class="columns">
              <%= text_field_tag 'project_times[][duration]', 0, class: "no-margin" %>
            </div>
          </div>
      </div>
      <div class="columns small-11 medium-4">
        <div class="row align-middle">
          <div class="columns shrink">
            Date
          </div>
          <div class="columns">
            <%= text_field_tag "project_times[][date]", better_date2(Time.zone.now), class: "datepickerstart no-margin" %>
          </div>
        </div>

      </div>
    </div>

</div>
