<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; <%= link_to "Projects", company_projects_url(@company), class: 'small-nav-link' %>  &nbsp; >  &nbsp; Edit Project
		</div>
	</div>
</div>

<div class="space2"></div>

<div class="row" >
  <div class="columns">
    <h2>Edit Project</h2> <br />
  </div>
</div>
<%= form_for @project, url: company_project_url(@company, @project), method: :patch do |f| %>
	<%= show_error_message(@project) %>

	<div class="row">
	  <div class="columns small-12 medium-4">
			<div class="m-well2">
	      <%= f.label :name %>
	      <%= f.text_field :name %>
	      <%= f.label :department_id %>
	      <%= f.collection_select(:department_id, Department.where(company_id: params[:company_id]), :id, :name, {prompt: true}, {class: "select-select horizontal-max"})  %>
				<div class="space"></div>
				<%= f.label :client_id %>
				<%= f.collection_select(:client_id, Client.where(company_id: @current_company), :id, :name, {prompt: true}, {class: "select-select horizontal-max"})  %>
				<div class="space"></div>

				<div class="space2"></div>
			<%= f.submit 'Update Project', class: 'button primary no-margin' %>

			</div>
		</div>
		<% if hr? %>
		<div class="columns small-12 medium-4">
			<div class="m-well2">
				<div class="space"></div>
				<div class="row">
					<div class="columns text-center">
						<%= f.add_nested_fields_link :project_head_onboardings, "New Project Head", class: "button warning", id:"new_project_button" %>
					</div>
				</div>
				<div class="space"></div>
				<div class="small-font-size">* Make sure to put the previous project head's end date in handling the project.</div>
				<div class="space"></div>
			</div>

			<%= f.nested_fields_for :project_head_onboardings, @project.project_head_onboardings.ordered_project_head do
			|t| %>
				<div class="m-well2">
					<%= t.label :employment_id, 'Project Head' %>
					<%= t.collection_select(:employment_id, Company.find(params[:company_id]).employments, :id, :manager_names, {prompt: true}, {class: "select-select horizontal-max"}) %>
					<div class="space"></div>
					<div class="row">
						<div class="columns">
							<%= t.label :start_date %>
							<%= t.text_field :start_date, class:"datepickerstart", value: Time.zone.today %>
						</div>
						<div class="columns">
							<%= t.label :end_date %>
							<%= t.text_field :end_date, class:"datepickerstart" %>
						</div>
					</div>
					<%# t.remove_nested_fields_link 'Delete', class: "small-font-size"%>
					<%= t.check_box :_destroy %>
					<%= t.label :_destroy, "Remove", class: "small-font-size" %>
				</div>
			<% end %>
		</div>
		<% end %>

		<div class="columns small-12 medium-4">
			<div class="m-well2">
				<div class="space"></div>
				<div class="row">
					<div class="columns text-center">
						<%= f.add_nested_fields_link :onboardings, "New Project Employee", class: "button warning", id:"new_project_button" %>
					</div>
				</div>
			</div>
			<%= f.nested_fields_for :onboardings, @project.onboardings do |t| %>
			<div class="m-well2">
				<%= t.label :employment_id, 'Employee' %>
				<%= t.text_field :employment_id, value: t.object.employment.user.profile.first_name + " " + t.object.employment.user.profile.last_name, disabled: true if t.object.employment.present? %>
				<%= t.collection_select(:employment_id, Company.find(params[:company_id]).employments, :id, :manager_names, {prompt: true}, {class: "select-select horizontal-max"}) if t.object.employment.nil? %>
				<div class="space"></div>
				<div class="row">
					<div class="columns">
						<%= t.label :start_date %>
						<%= t.text_field :start_date, class:"datepickerstart", value: Time.zone.today %>
					</div>
					<div class="columns">
						<%= t.label :end_date %>
						<%= t.text_field :end_date, class:"datepickerstart" %>
					</div>
				</div>
				<%# t.remove_nested_fields_link 'Delete', class: "small-font-size"%>
				<%= t.check_box :_destroy %>
				<%= t.label :_destroy, "Remove", class: "small-font-size" %>
			</div>
			<% end %>
		</div>
	</div>
<% end %>
