<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; <%= link_to 'Projects', company_projects_url(@company), class: 'small-nav-link' %> &nbsp; > &nbsp; Enter Project Times
		</div>
	</div>
</div>

<div class="row">
  <div class="columns">
    <div class="space2"></div>
    <h3>
      Enter Project Times
    </h3>
    <p><%= better_date2(Time.zone.today) %></p>
    <div class="space"></div>
  </div>
</div>


<div class="row small-up-1 medium-up-1">
  <div class="columns" >
    <%= form_tag company_project_times_path(@company) do %>
      <%= render partial: 'time', collection: @onboardings, as: "o" %>
      <div class="space"></div>
      <%= submit_tag "Submit", class: 'button not-expanded add-button-border' %>
    <% end %>
  </div>
</div>
