<div class="row">
  <div class="columns medium-1"></div>
  <div class="columns">
    <%= image_tag resource.photo.url(:medium) %>
    <p>Active: <%= resource.active %></p>
    <p>Name: <%= resource.name %></p>
    <p>Price: <%= resource.price %></p>
    <p>Photo: <%= resource.photo_file_name %> </p>
    <p>Photo Size: <%= better_file_size(resource.photo_file_size) %> kb</p>
    <p>Description:</p>
    <p><%= resource.description %></p>
  </div>
</div>
