<%= simple_form_for [:dashboard, resource], html: { multipart: true } do |f| %>
    <%= f.input :create_company_photo %>
    <%= resource.create_company_photo_file_name if resource.create_company_photo_file_name.present? %>
    <%= image_tag resource.create_company_photo.url(:medium) if resource.create_company_photo_file_name.present?%>

    <%= f.input :connect_company_photo %>
    <%= resource.connect_company_photo_file_name if resource.create_company_photo_file_name.present?%>
    <%= image_tag resource.connect_company_photo.url(:medium) if resource.create_company_photo_file_name.present?%>

    <%= f.input :company_settings_photo %>
    <%= resource.company_settings_photo_file_name if resource.create_company_photo_file_name.present? %>
    <%= image_tag resource.connect_company_photo.url(:medium) if resource.create_company_photo_file_name.present? %>
  <div class="space"></div>
  <%= f.button :submit, class: "button primary" %>
<% end %>
