<div class="columns small-12 medium-5">
	<div class="company_card callout white-c">
		<div class="row">
			<div class="columns">
				<div class="space"></div>
			<h3><%= company.name %></h3>
			<div  class="small-font-size">
				<%= company.address.first_line %>,
				<%= company.address.second_line %>
				<%= company.address.city_town %>,
				<%= company.address.province %>,
				<%= company.address.country %>
				<%= company.address.zip_code %>
			</div>
		<div class="space"></div>
			</div>
		</div>
		<div class="space"></div>
		<div class="row align-middle ">
			<div class="columns medium-5">
				<div class="text-right">
					<i class="fa fa-calendar-o fa-2x"></i>
				</div>
			</div>
			<div class="columns medium-6 text-center card-row white-bg">
				<%= company.created_at.strftime("%B %d, %Y") %>
			</div>
		</div>
		<div class="row align-middle ">
			<div class="columns medium-5">
				<div class="text-right">
					<i class="fa fa-users fa-2x"></i>
				</div>
			</div>
			<div class="columns medium-6 text-center card-row white-bg">
				<%= company.number_of_users %>
			</div>
		</div>
		<div class="row align-middle ">
			<div class="columns medium-5">
				<div class="text-right">
					<i class="fa fa-suitcase fa-2x"></i>
				</div>
			</div>
			<div class="columns medium-6 text-center card-row white-bg">
				<%= company.leave_amounts.sum(:amount) %> leaves
			</div>
		</div>
	</div>
</div>
