<%= input.fields_for :leave_types do |leave_type| %>
  <div class="field">
	  <%= leave_type.label :name %>
	  <%= leave_type.text_field :name %>

   </div>

  <div class="field">
	  <%= leave_type.label :amount %>
	  <%= leave_type.text_field :amount %>
	  <%= leave_type.check_box :_destroy, class: "small-font-size" %>
	  <%= leave_type.label :_destroy, "Remove Leave Type", class: "small-font-size" %>
  </div>
  <div class="space"></div>
<% end %>