<div class="space5"></div>

<div class="row text-center">
  <h2>Create a Company</h2>
</div>

<div class="space5"></div>

<div class="row">
  <div class="small-12 medium-offset-3 medium-6">
    <div class="m-well align-middle">
      

      <%= form_for @company, method: :post do |f| %>
        <div class="field">
          <%= f.label :name, "Company Name" %>
          <%= f.text_field :name %>
        </div>

        <%= f.fields_for :employments, @employment do |employment| %>

          <div class="field">
            <%= employment.label :employment_start_date, "Start Date in the Company" %>
            <%= employment.date_field :employment_start_date, class: "datepickerstart", placeholder: "Click Here"%>
          </div>

          <%= employment.hidden_field :user_id, value: current_user.id %>

        <% end %>

        <%= f.fields_for :address, @address do |address| %>

          <div class="field">
            <%= address.label :first_line %>
            <%= address.text_field :first_line %>
          </div>

          <div class="field">
            <%= address.label :second_line %>
            <%= address.text_field :second_line %>
          </div>

          <div class="field">
            <%= address.label :city_town, "City/Town" %>
            <%= address.text_field :city_town %>
          </div>

          <div class="field">
            <%= address.label :province %>
            <%= address.text_field :province %>
          </div>

          <div class="field">
            <%= address.label :country %>
            <%= address.text_field :country %>
          </div>

          <div class="field">
            <%= address.label :zip_code, "Zip Code" %>
            <%= address.text_field :zip_code %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Create", class: 'button primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
