<div class="row">
	<div class="columns">
		<div class="row show-header align-middle">
			<div class="columns">
				<h1><%= @company.name %></h1>

				<% unless @address.first_line.blank? %>
					<p> 
						<%= @address.first_line -%>,
						<%= @address.second_line -%>
						<%= @address.city_town -%>,
						<%= @address.province -%>,
						<%= @address.country -%>
						<%= @address.zip_code -%>
					</p>
				<% end %>

			</div>
			<div class="columns shrink">
				<div class="text-right">
					<% if @current_company.id == params[:id].to_i && (@current_employment.role_id == @hr_officer.id || (@current_employment.role_id == @administrator.id)) %>
						<%= link_to "Company Settings", edit_company_url(@company.id), class: "button warning" %>
					<% end %>
				</div>
			</div>

		</div>

				<%= render 'leaves' %>
		
		<div class="space2"></div>		

		<%= render "join_requests_table" %>

		<%= render "users_table" %>
		<br />

		<%= render "company_leave_requests_table" %>

	</div>
</div>