<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= @company.name %>
		</div>
	</div>
</div>
<div class="white-bg horizontal-max">

	<div class="row show-header align-middle">
		<div class="columns">
			<h1><%= @company.name %></h1>
			<% unless @address.nil? || @address.first_line.blank? %>
				<p>
					<%= @address.first_line -%>,
					<%= @address.second_line -%>
					<%= @address.city_town -%>,
					<%= @address.province -%>,
					<%= @address.country -%>
					<%= @address.zip_code -%>
				</p>
			<% end %>
		</div>
		<div class="columns medium-3">
			<%= render 'company_menu' %>
		</div>
	</div>
</div>



<% if @current_user.employments.find_by(company_id: @company.id).present? && @current_user.employments.where(company_id: @company.id).last.acceptance == true %>
	<%= render "company_leaves_taken" %>
	<%= render 'hr_dashboard_button' if @current_employment.present? && @current_employment.is_hr? %>
	<%= render 'hr_dashboard' if @current_employment.present? && @current_employment.is_hr? %>
	<%= render 'manager_dashboard_button' if @current_employment.is_manager? %>
	<%= render 'manager_dashboard' if @current_employment.present? && @current_employment.is_manager? %>
	<div class="space3"></div>
	<%= render "join_requests_table" %>
	<%= render "users_table" %>
<%= render "company_leave_requests_table" %>
<% else %>
	<%= render "not_yet_accepted" %>
<% end %>
