<div class="row">
	<div class="columns">
		<%= @company.name %>
		<%= @address.first_line -%>
		<%= @address.second_line -%>
		<%= @address.city_town -%>
		<%= @address.province -%>
		<%= @address.country -%>
		<%= @address.zip_code -%>
	</div>
</div>