<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= @company.name %>
		</div>
	</div>
</div>
<div class="white-bg horizontal-max">

	<div class="row show-header align-middle">
		<div class="columns">
			<h1><%= @company.name %></h1>
			<% unless @address.nil? || @address.first_line.blank? %>
				<p>
					<%= @address.first_line -%>,
					<%= @address.second_line -%>
					<%= @address.city_town -%>,
					<%= @address.province -%>,
					<%= @address.country -%>
					<%= @address.zip_code -%>
				</p>
			<% end %>
		</div>
		<div class="columns medium-3">
			<div class="text-right">
				<div class="button warning" data-toggle="company-dropdown"><i class="fa fa-bars fa-2x white-text"></i></div>
				<section class="dropdown-pane no-padding" id="company-dropdown" data-dropdown data-hover="true" data-hover-pane="true" >
			    <div class="row horizontal-max no-margin no-padding collapse">
						<div class="columns small-up-1 medium-up-1">
							<% if @current_employment.present? && @has_leave_types %>
								<div class="columns no-padding">
								<%= link_to "Create a Leave Request",
											new_user_employment_leave_request_url(@current_user, @current_employment),
											class: "button white-c horizontal-max no-margin text-left" %>
								</div>
								<div class="columns no-padding">
									<%= link_to "Holidays", company_holidays_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
								</div>
								<div class="columns no-padding">
									<%= link_to "Departments", company_departments_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
									<%= link_to "Projects", company_projects_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
								</div>
							<% end %>
							<% if (@current_employment.present? && (@current_employment.is_hr?)) %>
								<div class="columns no-padding">
									<%= link_to "Company Settings", edit_company_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
								</div>
								<div class="columns no-padding">
									<%= link_to "Import Leave Requests", company_import_page_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
								</div>
							<% end %>
							<% if (@current_employment.present? && (@current_employment.is_hr? || @current_employment.is_manager?)) %>
								<div class="columns no-padding">
									<%= link_to "Invite Employee", new_company_invite_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
								</div>
							<% end %>
						</div>
			    </div>
				</section>
			</div>
		</div>
	</div>
</div>



<% if @current_user.employments.find_by(company_id: @company.id).present? && @current_user.employments.where(company_id: @company.id).last.acceptance == true %>
	<%= render "company_leaves_taken" %>
	<%= render 'hr_dashboard_button' if @current_employment.present? && @current_employment.is_hr? %>
	<%= render 'hr_dashboard' if @current_employment.present? && @current_employment.is_hr? %>
	<%= render 'manager_dashboard_button' if @current_employment.is_manager? %>
	<%= render 'manager_dashboard' if @current_employment.present? && @current_employment.is_manager? %>
	<div class="space3"></div>
	<%= render "join_requests_table" %>
	<%= render "users_table" %>
	<%= render "company_leave_requests_table" %>
<% else %>
	<%= render "not_yet_accepted" %>
<% end %>
