<div class="row">
	<div class="columns">
		<div class="row show-header align-middle">
			<div class="columns">
				<h1><%= @company.name %></h1>
				<% if (@address.first_line = "") %>
				<% else %>
					<p> 
						<%= @address.first_line -%>,
						<%= @address.second_line -%>
						<%= @address.city_town -%>,
						<%= @address.province -%>,
						<%= @address.country -%>
						<%= @address.zip_code -%>
					</p>
				<% end %>
			</div>
		</div>

		<%= render "users_table" %>

	</div>
</div>