<%= simple_form_for [:dashboard, resource], html: { multipart: true } do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :link %>
    <%= f.input :award_name %>
    <%= f.input :rating %>
    <%= f.input :description %>
    <%= f.input :active %>
 <div class="space"></div>
  <%= f.submit 'Submit', class: "button primary" %>
<% end %>
