<tr>
  <td>
    <%= tr.employment.employment_names %>
  </td>
  <td>
      <%= link_to tr.title, edit_company_time_request(@company, tr.id) %>
      <%= tr.title %>
  </td>
  <td>
    <%= tr.in_out %>
  </td>
  <td>
    <%= better_date2(tr.date) %>
  </td>
  <td>
    <%= better_time(tr.time) %>
  </td>
</tr>
