<tr>
  <td>
    <%= tr.employment.employment_names %>
  </td>
  <td>
    <% if tr.employment.user == current_user %>
      <%= link_to tr.title, edit_company_time_request_url(@company, tr.id) %>
    <% else %>
      <%= tr.title %>
    <% end %>
  </td>
  <td>
    <%= tr.in_out %>
  </td>
  <td>
    <%= better_date2(tr.date) %>
  </td>
  <td>
    <%= better_time(tr.time) %>
  </td>
</tr>
