<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107409164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107409164-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.last.site_name %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <%= render 'partials/navbar' %>

    <% unless no_flash_pages %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "callout  #{key}" %>
      <% end %>
    <% end %>

		<%= yield %>

    <%# render 'layouts/google_analytics' %>

  </body>
</html>
