<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tseklis-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'partials/navbar' %>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "callout  #{key}" %>
    <% end %>

		<%= yield %>


  </body>
</html>
